:root {
    --main-background-color: #FFFFFF;
    --dark-background-color: #2E2F42;
    --light-background-color: #F4F4FD;
    --submain-text-color: #434455;
    --accent-color: #4D5AE5;
    --button-extra-color: #404BBF;
    --background-filter-button: #F4F4FD;
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --border-button-color: #E7E9FC;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font-family);
    color: var(--submain-text-color);
}

.link {
    text-decoration: none;
}

/* =========================== Header =========================== */

header {
    background-color: var(--main-background-color);
}

/* ============================ Logo ============================ */
.studio-logo {
color: var(--accent-color);
font-family: var(--secondary-font-family);
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.studio {
    color: var(--dark-background-color);
        font-family: var(--secondary-font-family);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.studio-bottom {
    color: var(--light-background-color);
}
/* =============================== /Logo =========================== */

.list > li {
    list-style: none;
}

.list-item {
    color: var(--submain-text-color);
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em
    }

.list-item:hover,
.list-item:active,
.list-item:focus {
    color: var(--button-extra-color);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        cursor: pointer;
}

.contacts {
    font-style:normal;
}

.contacts .list {
    color: var(--submain-text-color);
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-decoration: none;
}

.contacts .list:hover,
.contacts .list:active,
.contacts .list:focus {
        color: var(--button-extra-color);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.32px;
}

/* =========================== /Header =========================== */

/* =========================== MAIN =========================== */

.hero {
    background-color: var(--dark-background-color);
}

.hero-main {
    color: var(--main-background-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}

.hero-button {
        background-color: var(--accent-color);
        color: var(--main-background-color);
        text-align: center;
            font-family: var(--main-font-family);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.64px;
}

.hero-button:hover {
        background: var(--button-extra-color);
}
.feature-menu {
    color: var(--dark-background-color);
        font-family: var(--main-font-family);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.feature-text {
color: var(--submain-text-color);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.activity-title {
    color: var(--dark-background-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.team {
    background-color: var(--light-background-color);
}

.supertitle {
    color: var(--dark-background-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.team-name {
    color: var(--dark-background-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.team-description {
    color: var(--submain-text-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* =========================== /MAIN =========================== */






footer {
    background-color: var(--dark-background-color);
}

.web-logo-low {
    color: var(--accent-color);
        font-family: var(--secondary-font-family);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

/* ========================= Logo ============================ */

/* ========================== /Logo ============================ */

.slogan {
    color: var(--light-background-color);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* =========================== /Footer =========================== */

/* =========================== Portfolio ============================= */

.menu-button {
    background-color: var(--background-filter-button);
    color: var(--accent-color);
        border: 1px solid var(--border-button-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
}

.menu-button:hover {
    background-color: var(--button-extra-color);
    color: var(--main-background-color);
    cursor: pointer;
}

.subtitle {
    color: var(--dark-background-color);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.pic-description {
    color: var(--submain-text-color);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}