:root {
    --main-background-color: #FFFFFF;
    --dark-background-color: #2E2F42;
    --light-background-color: #F4F4FD;
    --main-text-color: #2E2F42;
    --submain-text-color: #434455;
    --dark-mode-title-text-color: #FFFFFF;
    --dark-mode-submenu-text-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --button-extra-color: #404BBF;
    --background-filter-button: #F4F4FD;
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --border-button-color: #E7E9FC;
}

body {
    background-color: var(--main-background-color);
}

.underline {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* =========================== Header =========================== */

header {
    background-color: var(--main-background-color);
}

.web-logo {
color: var(--accent-color);
font-family: var(--secondary-font-family);
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.studio-logo {
    color: var(--main-text-color);
        font-family: var(--secondary-font-family);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.main-nav-link {
    color: var(--submain-text-color);
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.address-link {
    color: var(--submain-text-color);
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* =========================== /Header =========================== */

/* =========================== MAIN =========================== */

.hero {
    background-color: var(--dark-background-color);
}

.hero-main {
    color: var(--dark-mode-title-text-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}

.hero-button {
    border-radius: 4px;
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--third-text-title-color);
        text-align: center;
            font-family: var(--main-font-family);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.64px;
}
.feature-menu {
    color: var(--main-text-color);
        font-family: var(--main-font-family);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.feature-text {
color: var(--submain-text-color);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.activity-title {
    color: var(--main-text-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.team {
    background-color: var(--light-background-color);
}

.supertitle {
    color: var(--main-text-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.team-name {
    color: var(--main-text-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.team-description {
    color: var(--submain-text-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

/* =========================== /MAIN =========================== */






footer {
    background-color: var(--dark-background-color);
}

.web-logo-low {
    color: var(--accent-color);
        font-family: var(--secondary-font-family);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logo-low .studio-logo-low {
    color: var(--dark-mode-submenu-text-color);
        font-family: var(--secondary-font-family);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.slogan {
    color: var(--dark-mode-submenu-text-color);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* =========================== /Footer =========================== */

/* =========================== Portfolio ============================= */

/* .hero {
    background-color: var(--main-background-color);
} */
.hero-filter .filter {
    background-color: var(--background-filter-button);
    color: var(--accent-color);
    border-radius: 4px;
        border: 1px solid var(--border-button-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
}

.hero-filter .filter:hover {
    background-color: var(--button-extra-color);
    color: var(--dark-mode-title-text-color);
    cursor: pointer;
}

.subtitle {
    color: var(--main-text-color);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.pic-description {
    color: var(--submain-text-color);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}